.output-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $spacing-08;
  padding-bottom: $spacing-07 * 2;
  width: 100%;

  @media (min-width: 1200px) {
    flex: 1 1 auto;
    margin-left: $spacing-09;
  }

  .container-title {
    padding-bottom: $spacing-03;
  }

  .bx--label {
    font-size: 15px;
    padding: $spacing-03;
  }

  .input {
    background-color: $ui-02;
    padding: $spacing-05;
    border-radius: 15px;
    padding: $spacing-03;
  }

  .bx--btn {
    text-align: center;
    max-width: none;
  }

  .submit {
    background-color: gray;
    border-radius: 15px;
    display: block;
    width: 100%;
  }
}
